# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Coverage or test result
*.out
*.profile
report.xml

# IDE
.idea
.vscode


# Other files
.DS_Store